Repository penumbra-zone/penumbra, pull requests merged in 2024-04, with the labels that each got.

#4133 tests(app): 🏓 add voting power assertions to staking tests
  crates/core/app/tests/app_can_define_and_delegate_to_a_validator.rs
Labels: A-testing, A-mock-consensus

#4110 tests(app): ✨ add integration test coverage for undelegation
  Cargo.lock
  crates/core/app/tests/app_can_undelegate_from_a_validator.rs
  crates/core/component/stake/src/component/action_handler/undelegate.rs
  crates/test/mock-client/Cargo.toml
  crates/test/mock-client/src/lib.rs
Labels: A-mock-consensus

#4142 refactor(app): 📎 fold `genesis::{AppState, Content}` into `penumbra-app`
  Cargo.lock
  Cargo.toml
  crates/bin/pd/Cargo.toml
  crates/bin/pd/src/migrate.rs
  crates/bin/pd/src/testnet/config.rs
  crates/bin/pd/src/testnet/generate.rs
  crates/core/app/Cargo.toml
  crates/core/app/src/app/mod.rs
  crates/core/app/src/genesis.rs
  crates/core/app/src/lib.rs
  crates/core/app/src/server/consensus.rs
  crates/core/app/tests/app_can_define_and_delegate_to_a_validator.rs
  crates/core/app/tests/app_can_undelegate_from_a_validator.rs
  crates/core/app/tests/app_tracks_uptime_for_genesis_validator_missing_blocks.rs
  crates/core/app/tests/app_tracks_uptime_for_genesis_validator_signing_blocks.rs
  crates/core/app/tests/app_tracks_uptime_for_validators_only_once_active.rs
  crates/core/app/tests/common/mod.rs
  crates/core/app/tests/common/test_node_builder_ext.rs
  crates/core/genesis/Cargo.toml
  deployments/scripts/rust-docs
Labels: A-node, E-easy, C-design, C-chore

#4143 dex: fix incorrect nomenclature
  crates/bin/pcli/src/command/tx/liquidity_position.rs
  crates/core/component/dex/src/component/circuit_breaker/value.rs
  crates/core/component/dex/src/component/router/mod.rs
  crates/core/component/dex/src/component/router/tests.rs
  crates/core/component/dex/src/component/tests.rs
Labels: C-bug, A-dex

#4147 docs(summonerd): 🪄 finish incomplete comment
  tools/summonerd/src/config.rs
Labels: A-docs

#4145 Enhance Nix packaging to build the crates and CometBFT
  .envrc.example
  .gitignore
  crates/core/component/dex/src/lp/trading_function.rs
  flake.lock
  flake.nix
  rust-toolchain.toml
Labels: A-tooling

#4148 staking: enshrine consensus key indexing requirement in unit-test
  crates/core/component/stake/src/component/action_handler/validator_definition.rs
  crates/core/component/stake/src/component/stake.rs
  crates/core/component/stake/src/component/stake/tests.rs
  crates/core/component/stake/src/component/validator_handler/validator_manager.rs
  crates/core/component/stake/src/component/validator_handler/validator_store.rs
Labels: A-staking

#4122 cnidarium: implement deferred commits via `StagedWriteBatch`
  crates/cnidarium/src/lib.rs
  crates/cnidarium/src/snapshot.rs
  crates/cnidarium/src/storage.rs
  crates/cnidarium/src/store/multistore.rs
  crates/cnidarium/src/store/substore.rs
  crates/cnidarium/src/write_batch.rs
  crates/cnidarium/tests/write_batch.rs
Labels: A-node, C-enhancement

#4152 stake: `VerificationKeyBytes` in `IdentityKey`
  crates/bin/pcli/src/command/validator.rs
  crates/bin/pcli/tests/proof.rs
  crates/bin/pd/src/testnet/generate.rs
  crates/core/app/tests/app_can_define_and_delegate_to_a_validator.rs
  crates/core/app/tests/app_tracks_uptime_for_validators_only_once_active.rs
  crates/core/app/tests/common/test_node_builder_ext.rs
  crates/core/component/stake/src/component/action_handler/validator_definition.rs
  crates/core/component/stake/src/component/stake/tests.rs
  crates/core/component/stake/src/delegation_token.rs
  crates/core/component/stake/src/identity_key.rs
  crates/core/component/stake/src/rate.rs
  crates/core/component/stake/src/state_key.rs
  crates/core/component/stake/src/unbonding_token.rs
  crates/core/component/stake/src/undelegate_claim/proof.rs
Labels: A-staking

#4158 dex: add `max_positions_per_pair` to parameters
  crates/cnidarium/src/gen/proto_descriptor.bin.no_lfs
  crates/core/app/src/params/change.rs
  crates/core/component/dex/src/params.rs
  crates/proto/src/gen/penumbra.core.component.dex.v1.rs
  crates/proto/src/gen/penumbra.core.component.dex.v1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  proto/penumbra/penumbra/core/component/dex/v1/dex.proto
Labels: protobuf-changes, A-dex

#4169 penumbra: remove `Builder` factory
  .cargo/config
  crates/bin/pd/src/main.rs
  crates/cnidarium/src/snapshot.rs
  crates/cnidarium/src/storage.rs
  crates/cnidarium/src/store/substore.rs
Labels: A-node

#4167 dex: track total number of positions per pair
  crates/core/component/dex/src/component/action_handler/position/open.rs
  crates/core/component/dex/src/component/circuit_breaker/value.rs
  crates/core/component/dex/src/component/mod.rs
  crates/core/component/dex/src/component/position_counter.rs
  crates/core/component/dex/src/component/position_manager.rs
  crates/core/component/dex/src/state_key.rs
Labels: consensus-breaking, A-dex

#4176 summonerd: disable console by default
  tools/summonerd/src/main.rs
Labels: C-bug

#4178 Add consensus check preventing end-of-life enabled validators
  crates/core/component/stake/src/component/action_handler/validator_definition.rs
Labels: A-staking, C-enhancement, E-easy, security, consensus-breaking

#4166 ci: add per-crate checks via cargo-hack
  .github/workflows/rust.yml
  crates/core/component/compact-block/Cargo.toml
  crates/core/component/compact-block/src/component/manager.rs
  crates/misc/measure/Cargo.toml
  crates/test/mock-consensus/Cargo.toml
  deployments/scripts/check-crate-feature-sets
Labels: A-CI/CD

#4174 mock-consensus: 🫛 `two_validators` adds two keys
  crates/test/mock-consensus/src/builder.rs
Labels: A-mock-consensus

#4172 dex: add an eviction index based on position reserves
  crates/core/component/dex/src/component/position_counter.rs
  crates/core/component/dex/src/component/position_manager.rs
  crates/core/component/dex/src/state_key.rs
Labels: A-dex

#4184 docs(mock-consensus): 🦅 document various testing interfaces
  crates/test/mock-consensus/src/block.rs
  crates/test/mock-consensus/src/builder.rs
  crates/test/mock-consensus/src/builder/init_chain.rs
  crates/test/mock-consensus/src/lib.rs
  deployments/scripts/rust-docs
Labels: A-docs, A-mock-consensus

#4182 tests(app): 🙅 app rejects invalid auth signatures
  crates/core/app/tests/app_rejects_validator_definitions_with_invalid_auth_sigs.rs
Labels: A-staking, A-testing, A-mock-consensus

#4194 ci: update several eol actions
  .github/workflows/buf-pull-request.yml
  .github/workflows/containers.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-testnet.yml
  .github/workflows/disable-faucet.yml
  .github/workflows/notes.yml
  .github/workflows/smoke.yml
  .github/workflows/summoner_smoke.yml
Labels: A-CI/CD, C-chore

#4197 feat(ci): 🔖 add `needs-refinement` label to new issues
  .github/workflows/new-issues-labeled-needs-refinement.yml
Labels: A-CI/CD

#4200 tests: 🤝 hoist test subscriber into a standalone library
  Cargo.lock
  Cargo.toml
  crates/core/app/Cargo.toml
  crates/core/app/tests/common/mod.rs
  crates/test/tracing-subscriber/Cargo.toml
  crates/test/tracing-subscriber/src/lib.rs
Labels: A-testing

#4204 auction: create protobuf module scaffolding
  crates/proto/src/gen/penumbra.core.component.auction.v1alpha1.rs
  crates/proto/src/gen/penumbra.core.component.auction.v1alpha1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  crates/proto/src/lib.rs
  proto/penumbra/penumbra/core/component/auction/v1alpha1/auction.proto
  tools/proto-compiler/src/main.rs
Labels: protobuf-changes, A-auction

#4205 auction: create component scaffolding
  Cargo.lock
  Cargo.toml
  crates/bin/pcli/Cargo.toml
  crates/bin/pd/Cargo.toml
  crates/core/component/auction/Cargo.toml
  crates/core/component/auction/src/auction.rs
  crates/core/component/auction/src/auction/id.rs
  crates/core/component/auction/src/auction/nft.rs
  crates/core/component/auction/src/component/action_handler.rs
  crates/core/component/auction/src/component/auction.rs
  crates/core/component/auction/src/component/metrics.rs
  crates/core/component/auction/src/component/mod.rs
  crates/core/component/auction/src/component/rpc.rs
  crates/core/component/auction/src/event.rs
  crates/core/component/auction/src/genesis.rs
  crates/core/component/auction/src/lib.rs
  crates/core/component/auction/src/params.rs
  crates/core/component/auction/src/state_key.rs
  crates/core/transaction/Cargo.toml
  crates/proto/src/serializers/bech32str.rs
  deployments/scripts/check-wasm-compat.sh
Labels: A-auction

#4208 auction: define main dutch auction messages
  crates/core/component/auction/src/auction.rs
  crates/core/component/auction/src/auction/dutch.rs
  crates/proto/src/gen/penumbra.core.component.auction.v1alpha1.rs
  crates/proto/src/gen/penumbra.core.component.auction.v1alpha1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  proto/penumbra/penumbra/core/component/auction/v1alpha1/auction.proto
Labels: protobuf-changes, A-auction

#4210 auction: define schedule action and AH validation scaffold
  crates/core/component/auction/src/auction/dutch.rs
  crates/core/component/auction/src/auction/dutch/actions/end.rs
  crates/core/component/auction/src/auction/dutch/actions/mod.rs
  crates/core/component/auction/src/auction/dutch/actions/schedule.rs
  crates/core/component/auction/src/component/action_handler.rs
  crates/core/component/auction/src/component/action_handler/dutch/end.rs
  crates/core/component/auction/src/component/action_handler/dutch/mod.rs
  crates/core/component/auction/src/component/action_handler/dutch/schedule.rs
  crates/proto/src/gen/penumbra.core.component.auction.v1alpha1.rs
  crates/proto/src/gen/penumbra.core.component.auction.v1alpha1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  proto/penumbra/penumbra/core/component/auction/v1alpha1/auction.proto
Labels: A-auction

#4188 dex: refactor internal indexing into ext traits
  crates/core/component/dex/src/component/circuit_breaker/value.rs
  crates/core/component/dex/src/component/mod.rs
  crates/core/component/dex/src/component/position_manager.rs
  crates/core/component/dex/src/component/position_manager/base_liquidity_index.rs
  crates/core/component/dex/src/component/position_manager/counter.rs
  crates/core/component/dex/src/component/position_manager/inventory_index.rs
  crates/core/component/dex/src/component/position_manager/price_index.rs
  crates/core/component/dex/src/component/router/path.rs
  crates/core/component/dex/src/state_key.rs
Labels: consensus-breaking, A-dex

#4218 auction: define action balances
  Cargo.lock
  crates/core/asset/src/asset/registry.rs
  crates/core/component/auction/Cargo.toml
  crates/core/component/auction/src/auction.rs
  crates/core/component/auction/src/auction/dutch.rs
  crates/core/component/auction/src/auction/dutch/actions/end.rs
  crates/core/component/auction/src/auction/dutch/actions/mod.rs
  crates/core/component/auction/src/auction/dutch/actions/schedule.rs
  crates/core/component/auction/src/auction/dutch/actions/withdraw.rs
  crates/core/component/auction/src/auction/nft.rs
  crates/core/transaction/src/is_action.rs
  docs/protocol/src/transactions/actions.md
Labels: A-auction

#4221 dex: add checks to disable swaps and opening positions when the dex is disabled
  crates/core/component/dex/src/component/action_handler/position/open.rs
  crates/core/component/dex/src/component/action_handler/swap.rs
Labels: consensus-breaking, A-dex

#4224 dex(base_liq): add `async_trait` to `BaseLiquidityIndex`
  crates/core/component/dex/src/component/position_manager/base_liquidity_index.rs
Labels: C-bug, A-dex

#4220 auction: `ActionDutchAuction*` validation and component impl
  Cargo.lock
  crates/core/component/auction/Cargo.toml
  crates/core/component/auction/src/auction/dutch.rs
  crates/core/component/auction/src/component/action_handler/dutch/end.rs
  crates/core/component/auction/src/component/action_handler/dutch/schedule.rs
  crates/core/component/auction/src/component/action_handler/dutch/withdraw.rs
  crates/core/component/auction/src/component/auction.rs
  crates/core/component/auction/src/component/auction_store.rs
  crates/core/component/auction/src/component/dutch_auction.rs
  crates/core/component/auction/src/component/mod.rs
  crates/core/component/auction/src/state_key.rs
Labels: A-auction

#4237 transaction: finalize auction integration
  Cargo.lock
  crates/bin/pcli/src/command/tx.rs
  crates/bin/pcli/src/transaction_view_ext.rs
  crates/cnidarium/src/gen/proto_descriptor.bin.no_lfs
  crates/core/app/Cargo.toml
  crates/core/app/src/action_handler/actions.rs
  crates/core/app/src/action_handler/actions/submit.rs
  crates/core/component/auction/src/auction/dutch/actions/end.rs
  crates/core/component/auction/src/auction/dutch/actions/mod.rs
  crates/core/component/auction/src/auction/dutch/actions/plan.rs
  crates/core/component/auction/src/auction/dutch/actions/schedule.rs
  crates/core/component/auction/src/auction/dutch/actions/withdraw.rs
  crates/core/component/auction/src/component/action_handler/dutch/schedule.rs
  crates/core/transaction/src/action.rs
  crates/core/transaction/src/is_action.rs
  crates/core/transaction/src/plan/action.rs
  crates/core/transaction/src/view/action_view.rs
  crates/proto/src/gen/penumbra.core.component.auction.v1alpha1.rs
  crates/proto/src/gen/penumbra.core.component.auction.v1alpha1.serde.rs
  crates/proto/src/gen/penumbra.core.transaction.v1.rs
  crates/proto/src/gen/penumbra.core.transaction.v1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  proto/penumbra/penumbra/core/component/auction/v1alpha1/auction.proto
  proto/penumbra/penumbra/core/transaction/v1/transaction.proto
Labels: consensus-breaking, protobuf-changes, A-auction

#4222 feat(governance): 🧊 test that community pool spend proposals can be disabled
  crates/core/app/tests/app_can_deposit_into_community_pool.rs
  crates/core/app/tests/app_can_disable_community_pool_spends.rs
  crates/core/app/tests/app_can_propose_community_pool_spends.rs
  crates/core/component/governance/src/proposal_submit/action.rs
  crates/core/component/governance/src/proposal_withdraw/action.rs
  crates/core/num/src/amount.rs
  crates/core/transaction/src/plan/action.rs
Labels: A-governance, _P-V1, A-testing

#4246 feat(app): 🎋 add missing `Sct` component hooks
  crates/core/app/src/app/mod.rs
Labels: A-node, E-easy, _P-V1, _P-low

#4247 feat(app): 🎣 add missing `Dex` component hook
  crates/core/app/src/app/mod.rs
Labels: E-easy, A-dex

#4233 auction: pd service rpc
  Cargo.lock
  crates/core/component/auction/Cargo.toml
  crates/core/component/auction/src/component/auction_store.rs
  crates/core/component/auction/src/component/rpc.rs
  crates/proto/src/gen/penumbra.core.component.auction.v1alpha1.rs
  crates/proto/src/gen/penumbra.core.component.auction.v1alpha1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  proto/penumbra/penumbra/core/component/auction/v1alpha1/auction.proto
Labels: protobuf-changes, A-auction

#4249 auction(pcli): auction support in pcli
  crates/bin/pcli/src/command.rs
  crates/bin/pcli/src/command/auction.rs
  crates/bin/pcli/src/command/tx.rs
Labels: A-auction

#4245 docs: clarify chain upgrade procedure
  docs/guide/src/node/pd/chain-upgrade.md
Labels: A-docs, A-upgrades

#4257 Add ADR-001 for Dutch Auctions
  docs/padr/PADR-001_Dutch_Auctions.md
Labels: A-docs, A-auction

#4250 sct(component): Add `anchor_by_height` rpc method
  crates/cnidarium/src/gen/proto_descriptor.bin.no_lfs
  crates/core/component/sct/src/component/rpc.rs
  crates/proto/src/gen/penumbra.core.component.sct.v1.rs
  crates/proto/src/gen/penumbra.core.component.sct.v1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  proto/penumbra/penumbra/core/component/sct/v1/sct.proto
Labels: A-node, protobuf-changes

#4259 auction: connect auction component to application
  Cargo.lock
  crates/bin/pcli/src/command/tx/proposal.rs
  crates/cnidarium/src/gen/proto_descriptor.bin.no_lfs
  crates/core/app/src/app/mod.rs
  crates/core/app/src/genesis.rs
  crates/core/app/src/params.rs
  crates/core/app/src/params/change.rs
  crates/core/component/auction/src/component/auction.rs
  crates/core/component/auction/src/component/mod.rs
  crates/core/component/auction/src/genesis.rs
  crates/core/component/auction/src/lib.rs
  crates/core/component/auction/src/params.rs
  crates/core/component/governance/Cargo.toml
  crates/core/component/governance/src/proposal.rs
  crates/proto/src/gen/penumbra.core.app.v1.rs
  crates/proto/src/gen/penumbra.core.app.v1.serde.rs
  crates/proto/src/gen/penumbra.core.component.governance.v1.rs
  crates/proto/src/gen/penumbra.core.component.governance.v1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  proto/penumbra/penumbra/core/app/v1/app.proto
  proto/penumbra/penumbra/core/component/governance/v1/governance.proto
Labels: consensus-breaking, protobuf-changes, A-auction

#4254 auction: process triggers/execute DAs
  crates/core/component/auction/src/auction/dutch.rs
  crates/core/component/auction/src/auction/dutch/actions/schedule.rs
  crates/core/component/auction/src/component/action_handler/dutch/schedule.rs
  crates/core/component/auction/src/component/auction.rs
  crates/core/component/auction/src/component/dutch_auction.rs
  crates/core/component/auction/src/component/mod.rs
  crates/core/component/auction/src/component/trigger_data.rs
  crates/core/component/dex/src/component/position_manager.rs
  crates/core/component/dex/src/lp/position.rs
  crates/core/num/src/amount.rs
  crates/proto/src/state/read.rs
Labels: consensus-breaking, A-dex, A-auction

#4269 view: add auction actions to `TransactionPlannerRequest`
  crates/proto/src/gen/penumbra.view.v1.rs
  crates/proto/src/gen/penumbra.view.v1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  proto/penumbra/penumbra/view/v1/view.proto
Labels: protobuf-changes, A-auction

#4239 Correct swap claim height check
  Cargo.lock
  crates/bench/benches/swap_claim.rs
  crates/bin/pcli/tests/proof.rs
  crates/bin/pd/Cargo.toml
  crates/bin/pd/src/main.rs
  crates/bin/pd/src/migrate.rs
  crates/bin/pd/src/migrate/testnet72.rs
  crates/cnidarium/src/gen/proto_descriptor.bin.no_lfs
  crates/core/app/src/app/mod.rs
  crates/core/component/dex/src/batch_swap_output_data.rs
  crates/core/component/dex/src/component/circuit_breaker/value.rs
  crates/core/component/dex/src/component/dex.rs
  crates/core/component/dex/src/component/router/route_and_fill.rs
  crates/core/component/dex/src/component/router/tests.rs
  crates/core/component/dex/src/component/tests.rs
  crates/core/component/dex/src/swap_claim/proof.rs
  crates/crypto/proof-params/src/gen/swapclaim_id.rs
  crates/crypto/proof-params/src/gen/swapclaim_pk.bin
  crates/crypto/proof-params/src/gen/swapclaim_vk.param
  crates/proto/src/gen/penumbra.core.component.dex.v1.rs
  crates/proto/src/gen/penumbra.core.component.dex.v1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  proto/penumbra/penumbra/core/component/dex/v1/dex.proto
Labels: consensus-breaking, state-breaking

#4270 view(proto): remove reserves from auction withdrawal `TransactionPlannerRequest`
  crates/cnidarium/src/gen/proto_descriptor.bin.no_lfs
  crates/proto/src/gen/penumbra.view.v1.rs
  crates/proto/src/gen/penumbra.view.v1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  proto/penumbra/penumbra/view/v1/view.proto
Labels: protobuf-changes, A-auction

#4274 chore: bump chain id for testnet 73
  testnets/071-deimos-6/allocations.csv
  testnets/071-deimos-6/validators.json
  testnets/072-deimos-6/allocations.csv
  testnets/072-deimos-6/validators.json
  testnets/073-deimos-7/allocations.csv
  testnets/073-deimos-7/validators.json
Labels: consensus-breaking, state-breaking

#4252 view: add support for auctions
  Cargo.lock
  crates/bin/pcli/Cargo.toml
  crates/bin/pcli/src/command.rs
  crates/bin/pcli/src/command/query.rs
  crates/bin/pcli/src/command/query/auction.rs
  crates/bin/pcli/src/command/tx.rs
  crates/bin/pcli/src/command/tx/auction.rs
  crates/bin/pcli/src/command/view.rs
  crates/bin/pcli/src/command/view/auction.rs
  crates/core/app/src/rpc.rs
  crates/core/asset/src/asset/denom_metadata.rs
  crates/core/asset/src/asset/registry.rs
  crates/core/component/auction/src/auction/nft.rs
  crates/core/component/auction/src/component/auction_store.rs
  crates/core/component/auction/src/component/dutch_auction.rs
  crates/core/component/auction/src/component/rpc.rs
  crates/view/Cargo.toml
  crates/view/src/client.rs
  crates/view/src/service.rs
  crates/view/src/storage.rs
  crates/view/src/storage/schema.sql
  crates/view/src/worker.rs
Labels: A-auction

#4277 staking: emit event when tombstoning active/jailed/inactive vals
  crates/cnidarium/src/gen/proto_descriptor.bin.no_lfs
  crates/core/component/stake/src/component/validator_handler/validator_manager.rs
  crates/core/component/stake/src/event.rs
  crates/proto/src/gen/penumbra.core.component.stake.v1.rs
  crates/proto/src/gen/penumbra.core.component.stake.v1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  proto/penumbra/penumbra/core/component/stake/v1/stake.proto
Labels: A-staking, protobuf-changes

#4193 Fix routable asset ordering
  Cargo.lock
  crates/bin/pd/Cargo.toml
  crates/bin/pd/src/main.rs
  crates/bin/pd/src/migrate.rs
  crates/core/component/dex/src/component/position_manager/base_liquidity_index.rs
  crates/core/component/dex/src/component/tests.rs
  crates/core/component/dex/src/state_key.rs
  crates/core/num/src/amount.rs
Labels: C-bug, _P-V1, consensus-breaking, A-dex, state-breaking

#4234 dex: augment `liquidity_positions_by_price` stream with position ids
  crates/core/component/dex/src/component/rpc.rs
  crates/proto/src/gen/penumbra.core.component.dex.v1.rs
  crates/proto/src/gen/penumbra.core.component.dex.v1.serde.rs
  crates/proto/src/gen/proto_descriptor.bin.no_lfs
  proto/penumbra/penumbra/core/component/dex/v1/dex.proto
Labels: protobuf-changes, A-dex
